:root
{
    --archive-margin: 0.7rem;
    --body-font-size: clamp(15px, 0.9rem, 40px);
}
.info
{
    position: relative;
    top:0;
    margin: 2rem var(--archive-margin);
    line-height: 2.5em;
}

.info h1
{
    color:white;
    font-size:40px;
    text-align: center;
    margin-bottom: 1rem;
}

.info h2
{
    color:white;
    font-size:25px;
    text-align: center;
    margin-bottom: 1rem;
}

.statement
{
    color:white;
    text-align: left;
    line-height: 2em;
    margin-bottom: 1em;
    text-align:justify;
    font-size: var(--body-font-size);
    margin-top: 0rem;
    padding: 0px var(--archive-margin);
}
.statement img
{
    width: clamp(10em, 100%, 40em);
    display:block;
    margin: 0em auto 2em auto;
}
.statement p
{
    margin-bottom: 2rem;
}
.statement a:any-link
{
    text-decoration: underline;
    color:white;
}
.statement ul
{
    margin-bottom: 1.2em;
}
.statement strong
{
    font-size: 120%;
}
.photo-vid-credits
{
    margin-top: 3em;
    
    line-height: 2em;
}
.iframe-container-container, .instagram-media
{
    width:100%;
    margin: 0 auto 2em auto;
}
.iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%
}
.iframe-container iframe {
    position: absolute;
    top: 0;
    border: 0;
    height: 100%;
    width: 100%;
}

.soundcloud
{
    margin-top: 3em;
}

@media ((min-width: 690px) and (min-aspect-ratio: 1/1)), (min-width: 1025px)
{

    .iframe-container-container
    {
        width: clamp(40rem, 70%, 70rem);
    }
}